SECRET_KEY=/*secret key*/
DEBUG=True
POSTGRES_DB=/*pg db*/
POSTGRES_USER=/*pg user*/
POSTGRES_PASSWORD=/*pd pass*/
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
