django==6.0.5
django-filter==25.2
django-environ==0.13.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.12
uvicorn==0.46.0
bleach==6.3.0
channels_redis==4.3.0
channels==4.3.2
ruff==0.15.13
